
/* =========================================
   11. SCROLL REVEAL UTILITY
   ========================================= */
.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1s cubic-bezier(0.5, 0, 0, 1);
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* =========================================
   12. RESPONSIVE
   ========================================= */
@media (max-width: 992px) {

    .properties-grid,
    .partners-grid,
    .awards-grid-img,
    .team-grid,
    .events-grid {
        grid-template-columns: 1fr;
    }

    .hero-text-center h1 {
        font-size: 50px;
    }

    .sell-section {
        flex-direction: column;
    }

    .sell-text {
        padding: 0;
        margin-bottom: 40px;
    }

    .sell-images {
        width: 100%;
        height: 300px;
    }

    .parallax-text {
        font-size: 50px;
        letter-spacing: 5px;
    }
}


/* =========================================
   BINGHATTI STYLE ANIMATION (Curtain Lift)
   ========================================= */
/* FOOTER */
.binghatti-footer {
    padding: 100px 5%;
}

.content-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 80px;
}

/* LEFT */
.f-left h2 {
    font-size: 50px;
    line-height: 1;
}

.f-left span {
    display: block;
    font-weight: 300;
    color: #c9a84e;
}

.f-left a {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    color: #777;
    text-decoration: none;
}

/* FORM */
.f-right {
    max-width: 500px;
    width: 100%;
}

.f-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-group label {
    font-size: 17px;
    color: #777;
    margin-bottom: 10px;
    display: block;
}

.f-input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #222;
    padding: 12px 0;
    font-size: 16px;
    color: #fff;
}

.f-input:focus {
    outline: none;
    border-bottom-color: #c9a84e;
}

.form-row {
    display: flex;
    gap: 20px;
}

.small {
    width: 80px;
}

.large {
    flex: 1;
}

/* BUTTON */
.f-btn {
    padding: 18px;
    border: 1px solid #444;
    background: transparent;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
}

.f-btn:hover {
    background: #c9a84e;
    color: #000;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .content-container {
        flex-direction: column;
    }
}